@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #f5f6f8;
  font-family: 'Inter', sans-serif;
  color: #111827;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* INPUTS */

input,
textarea,
select {
  width: 100%;
  background: white;
  color: #111827;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

/* PLACEHOLDERS */

input::placeholder,
textarea::placeholder {
  color: #6b7280;
}

/* AUTOFILL FIX */

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #111827;
  transition: background-color 5000s ease-in-out 0s;
}